extends _layout

block vars
  - var title = __('Teacher Dashboard')
  - var styles = ['/dashboard.css']
  - var scripts = ['/dashboard.js']

block main
  .container
    h1
      img.avatar(src=user.avatar(200) width=100 height=100)
      | #{user.fullName}
      span.subtitle= __('Teacher Dashboard')

    +flash(messages)

    //- h2.text-center= __('Your classes')
    - var colors = ['c-red', 'c-blue', 'c-green', 'c-purple', 'c-yellow', 'c-teal', 'c-orange', 'c-lime']
    .row.padded-thin.class-grid
      for c, index in classes
        a.class-panel(href=`/dashboard/${c.code}` class=(colors[index % 8]))
          h3= c.title
          p Class code: #{c.code}
          - var size = students[index].length
          p= !size ? __('No students') : size === 1 ? __('One student') : __('$0 students', size)
      button.new-class(data-modal="new-class") #[x-icon(name="books-3" size=120)] #{__('Create new class')}

    include _footer

  +modal('new-class')
    h2 #[x-icon(name="plus" size=32)] #{__('Create a new class')}
    form.form-large(action="/dashboard/new" method="POST")
      input(type="hidden" name="_csrf" value=_csrf)
      p= __('Every class has a unique code, which allows you to link student accounts and track their progress. Students can be part of multiple different classes.')
      label.form-field
        input(name="title" type="text" placeholder="Class name" required maxlength=30)
        span(class="placeholder")= __('Class name')
      p.btn-row: button.btn.btn-red(type="submit")= __('Create')
